@model IEnumerable<NotReddit.Models.Badge>

@{
    ViewData["Title"] = "Index";
}

<h1>Badges</h1>

<p>
    @if (this.User.IsInRole("Admin"))
    { 
        <a asp-action="Create">Create New</a>
    }
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.BadgeName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredNrLikes)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BadgeName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredNrLikes)
            </td>
            <td>
                @if (this.User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.BadgeId">Edit</a>
                }
                @if (this.User.IsInRole("Admin"))
                {
                    <a asp-action="Details" asp-route-id="@item.BadgeId">Details</a>
                }
                @if (this.User.IsInRole("Admin"))
                {
                    <a asp-action="Delete" asp-route-id="@item.BadgeId">Delete</a>
                }
            </td>
        </tr>
}
    </tbody>
</table>
